doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Vue Chat
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css")
  body
    div.content#live_chat  
      h2.subtitle Conectados ({{connectedUsers.length}})
      ul(v-for="user in connectedUsers")
        li {{user}} - <strong v-if="userIsTyping(user)" >escribiendo...</strong>  
      br  
      div
        h2.subtitle Chat
        ul(v-for="message in messages") 
          .info(v-if="message.type=='info'")
            li {{message.user}}: {{message.msg}}
            small {{message.timestamp}}
          .message(v-if="message.type=='chat'")
            li 
              strong {{message.user}}:
              small {{message.timestamp}}
              p {{message.text}}
      br       
      form(@submit.prevent="send")
        input.input.is-medium( v-model="message.text"  v-on:keyup="usersAreTyping" v-on:keyup.13="stoppedTyping('13')" v-on:keyup.8="stoppedTyping('8')"  type="text"  placeholder="Type Chat Here")

    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="https://cdn.jsdelivr.net/npm/vue")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js")
    script(src='public/js/client.js')